{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<p>{{message.text}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<div class="stupid">
<img src="static/frame.png" class="photoframe">
<video autoplay loop muted playsinline>
    <source src="static/phone.mp4" type="video/mp4">
</video>
</div>

{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let video = document.querySelector('video')
        video.muted = true
        video.playsInline = true

        if (video) {
            video.play().catch(()=>{
                console.log('Autoplay prevented, waiting for user interaction.')
                document.addEventListener('touchend', () => video.play(), {once: true})
            })
        }

    })

</script>