{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<div class="content-banner floatUp">
    <div class="left">
        <h4 class="barlow-condensed">Devon RFU Colts</h4>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h5>
    </div>
    <div class="right"><img src="https://www.torbayweekly.co.uk/resizer/1200/700/true/2024_04_22/P36_Celebrations_for_Torquay_Colts-1713772997395.jpg--celebrations_for_torquay_colts.jpg?1713772997509"></div>
</div>
{% endblock %}

{% block footer %}
<div class="carousel-wrapper">
    <div class="scrolling-picture">

    </div>
    <button class='left barlow-condensed' onclick="scrollLeftBtn()"></button>
    <button class='right barlow-condensed' onclick="scrollRight()"></button>
</div>

<div class="blur"></div>
<img class="blow-up" src="" alt="Large version of clicked image">
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}