{% extends 'base.html' %}

{% block title %}
League Table
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='league_table.css') }}">
{% endblock %}

{% block content %}

<table class="table">
    <thead class="header-row barlow-condensed">
        <tr>
            <th>Name</th>
            <th>Played</th>
            <th>Won</th>
            <th>Draw</th>
            <th>Lost</th>
            <th>Points For</th>
            <th>Points Against</th>
            <th>Points Difference</th>
            <th>Bonus Points</th>
            <th>Total Points</th>
        </tr>
    </thead>

    <tbody>
    {# Standings will be filled in here by js function #}
    </tbody>

</table>>

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}