{% extends 'base.html' %}

{% block title %}
League Table
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='league_table.css') }}">
{% endblock %}

{% block content %}
<div class="table-header floatUp">
{% for league in leagues %}
    <button class='barlow-condensed' onclick='changeLeague(this)' value="{{ league.id }}"><span>{{ league.name }}</span></button>
{% endfor %}
{#<select id="league-select" class="barlow-condensed">#}
{#    <option value="1">League 1</option>#}
{#    <option value="2">League 2</option>#}
{#</select>#}
</div>
<table class="table floatUp">
    <thead class="header-row barlow-condensed">
        <tr>
            <th onclick="toggleSort('name')">Name</th>
            <th onclick="toggleSort('played')">Played</th>
            <th onclick="toggleSort('won')">Won</th>
            <th onclick="toggleSort('draw')">Draw</th>
            <th onclick="toggleSort('lost')">Lost</th>
            <th onclick="toggleSort('pf')">Points For</th>
            <th onclick="toggleSort('pa')">Points Against</th>
            <th onclick="toggleSort('pd')">Points Difference</th>
            <th onclick="toggleSort('bonus')">Bonus Points</th>
            <th onclick="toggleSort('points')">Total Points</th>
        </tr>
    </thead>

    <tbody>
    {# Standings will be filled in here by js function #}
    </tbody>

</table>

{% endblock %}

{% block script %}
<script>

let current_sort = 'played'
let current_asc = false
let table_built = false
let selected_league_elem = document.querySelector('button')
selected_league_elem.classList.add('selected')
let selected_league = '1'
{#selected_league_elem.addEventListener('change', ()=>{#}
{#    selected_league = selected_league_elem.value#}
{#    table_built = false#}
{#    loadTable(undefined,undefined,selected_league)#}
{#/})#}

function changeLeague(elem){
    if (selected_league !== elem.value) {
        selected_league_elem.classList.remove('selected')
        selected_league_elem = elem
        selected_league_elem.classList.add('selected')
        selected_league = elem.value
        table_built = false
        loadTable(undefined, undefined, selected_league)
    }
}

function toggleSort(sort) {
    if (current_sort === sort) {
        current_asc = !current_asc
    } else {
        current_sort = sort
        current_asc = false
    }

    loadTable(current_sort, current_asc, selected_league)
}

async function loadTable (sort='points', asc='false', league='1') {
    const table_body = document.querySelector('tbody')

    if (!table_built){

    table_body.innerHTML =`
     <tr class="loading">
        <td>Loading...</td>
        <td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
     </tr>
    ` }

    try {
        buildTable(sort, asc, league)

    } catch (error) {

    }

}

function updateTable(data) {
    const rows = document.querySelectorAll('tbody tr')

    data.forEach((team, i)=>{
        const cells = rows[i].querySelectorAll('td')

        cells[0].textContent = team.name

        let c = 1
        for (let v of Object.values(team.standing)) {
            cells[c].textContent = v
            c++
        }
    })

}

async function buildTable(sort, asc, league) {

    let response = await fetch(`/league-table/fetch?league=${league}&sort=${sort}&asc=${asc}`)
    let data = await response.json()

    if (table_built) {
        updateTable(data)
        return
    }

    table_built = true

    const table = document.querySelector('tbody')
    table.innerHTML = ``
    let counter = 0

    data.forEach(team => {
        const entry = document.createElement('tr')
        const standing = team.standing

        console.log(typeof standing.played)
        let name = document.createElement('td')

        if (counter === 1) {
            entry.classList.add('alternate')
            counter --
        } else {
            counter ++
        }



        entry.classList.add('entry')
        name.innerHTML = team.name
        entry.appendChild(name)

        Object.entries(standing).forEach(([key, value]) => {
            let elem = document.createElement('td')
            elem.innerHTML = value
            entry.appendChild(elem)
        })
        table.appendChild(entry)
    })
}

document.addEventListener('DOMContentLoaded', ()=> loadTable())

</script>
{% endblock %}