<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id='top'>
            <div id="header">
                <img id='logo' src="../static/gibjohn_logo.png">
                <p id="title">{%block title%}{%endblock%}</p>
            </div>

            <div id="navbar">
                <a>Our tutors</a>
                <a>Young Learners</a>
                <a>Adult Learners</a>
                <a>Help</a>
                <a>Contact Us</a>
            </div>
        </div>
        <div id="main">

        </div>
    </body>

</html>