@keyframes floatUp {
    from {transform: translateY(1rem); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.floatUp {
    animation: floatUp 0.8s;
}

.fadeIn {
    animation: fadeIn 0.2s;
}

@media (prefers-reduced-motion) {
    .floatUp {
        animation: none;
    }
    .fadeIn {
        animation: none;
    }
}

.scrolling-picture {
    width: 80%;
    background: rgba(255,255,255,0.3);
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;

    & img {
        max-width: 100%;
        min-width: 90%;
    }
    & .wrapper {

        min-width: calc(100% / 3);
        height: 100%;
        background: rgba(0,0,0,.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .left {
        transform: translateX(-25%) scale(0.3);
    }
    & .right {
        transform: translateX(25%) scale(0.3);
    }
}