@keyframes floatUp {
    from {transform: translateY(1rem); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.floatUp {
    animation: floatUp 0.8s;
}

.fadeIn {
    animation: fadeIn 0.2s;
}

@media (prefers-reduced-motion) {
    .floatUp {
        animation: none;
    }
    .fadeIn {
        animation: none;
    }
}

.carousel-wrapper {
    margin: 1rem auto;
    position: relative;
    max-width: calc(100% - 20rem);
    height: auto;
    /*background: rgba(255,255,255,.5);*/

    /*&::before {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: -10rem;*/
    /*    background: white;*/
    /*    width: calc(100% + 20rem);*/
    /*    height: 100%;*/
    /*    z-index: -5;*/
    /*}*/

    & button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 5rem;
        height: 5rem;
        background: #00A755dd;
        color: #ffffff;
        font-size: 1.5rem;



        &.left{
            clip-path: polygon(40% 0%, 100% 0, 100% 20%, 100% 100%, 40% 100%, 40% 100%, 0% 50%);
            left: -8rem;
            border: none;

            &::after {
                  top: 7.5%;
                  left: 8.5%;
                  position: absolute;
                  content: '';
                  color: #000000;
                  width: 85%;
                  height: 85%;
                  background: white;
                  clip-path: polygon(40% 0%, 100% 0, 100% 20%, 100% 100%, 40% 100%, 40% 100%, 0% 50%);
                  display: flex;
                  justify-content: center;
                  align-items: center;
            }
        }

        &.right {
            clip-path: polygon(0 0, 60% 0, 100% 50%, 60% 100%, 40% 100%, 0 100%, 0% 50%);
            right: -6rem;
            border: none;

            &::after {
                  top: 7.5%;
                  left: 6.5%;
                  position: absolute;
                  content: '';
                  color: #000000;
                  width: 85%;
                  height: 85%;
                  background: white;
                  clip-path: polygon(0 0, 60% 0, 100% 50%, 60% 100%, 40% 100%, 0 100%, 0% 50%);
                  display: flex;
                  justify-content: center;
                  align-items: center;
            }
        }
    }
}

.scrolling-picture {
    width: 100%;
    /*background: rgba(255,255,255,0.3);*/
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;

    & img {
        max-width: 90%;
        min-width: 90%;
    }
    & .wrapper {
        min-width: calc(100% / 3);
        height: 100%;
        /*background: rgba(0,0,0,.8);*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .left {

    }
    & .right {

    }
}