@keyframes floatUp {
    from {transform: translateY(1rem); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.floatUp {
    animation: floatUp 0.8s;
}

.fadeIn {
    animation: fadeIn 0.2s;
}

@media (prefers-reduced-motion) {
    .floatUp {
        animation: none;
    }
    .fadeIn {
        animation: none;
    }
}