#login-form {
    background: rgb(39, 39, 39);
    padding-bottom: 5rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2rem;
    position: relative;
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.6);
    /*border: 1px #EEEEEE44 solid;*/
    border-radius: 7px;
}

#signup-form {
    background: rgb(39, 39, 39);
    padding-bottom: 5rem;
    /*height: 29rem;*/
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2rem;
    position: relative;
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.6);
    /*border: 1px #EEEEEE44 solid;*/
    border-radius: 7px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    height: 80%;
    padding-top: 1.5rem;
    /*box-shadow: 0 0 10px rgba(10, 10, 10, .8);*/
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem;
    box-shadow: 0 5px 20px rgba(100, 100, 100, 1);
    transition: filter 0.2s;
    border-radius: 7px;

    & label {
        position: absolute;
        font-size: 1.3rem;
        top: 10px;
        left: 0;
        padding-left: 0.8rem;
        color: rgba(29, 29, 29, 0.8);
        transition: transform 0.2s, font-size 0.2s;
    }

    & input:focus + label, input:not(:placeholder-shown) + label
    {
        transform: translate(-8px, -8px);
        font-size: 0.8rem;
    }
    & input {
        width: 20rem;
        height: 3rem;
        border-radius: 7px;
        background: rgba(255,255,255,.8);
        padding-left: calc(0.8rem - 10px);
        font-size: 1.2rem;
        border: 1px solid rgba(10,10,10,.4);
        padding-top: 0.5rem;
    }
}

.form-title {
    position: relative;
    font-size: 3.5rem;
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.form-button{
    width: 8rem;
    height: 3rem;
    font-size: 2rem;
    position: relative;
    top: 2rem;
    background: #EEEEEE;
    border-radius: 7px;
    border: none;
    transition: all 0.2s;
    box-shadow: 0 5px 20px rgba(10, 10, 10, 0.1);
}

.form-button:hover {
    cursor: pointer;
}

.form-button:hover:active {
    background: #00A755;
    color: #FFFFFF;
    transform: scale(1.1);
}

.remember-wrapper {
    & #remember {
        transform: scale(1.75);
    }
    & label {
        color: #FFFFFF;
        padding-left: 1rem;
    }
}

#signup-reminder {
    color: #FFFFFFAA;
    position: relative;
    top: 3.5rem;
    font-size: 0.9rem;
}

#fixture-create {
    background: rgb(39,39,39);
    text-align: center;
    padding: 0 1rem;
    border-radius: 7px;
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.6);

    & form {
        display: flex;
        flex-direction: row;
    }
    & select {
        width: auto;
        padding: 0 1rem;
        height: 3rem;
        font-size: 1.2rem;
        text-align: center;
        background: #DDDDDD;
        border-radius: 7px;
        border: none;
    }
    & #date {
        width: 12rem;
        height: 3rem;
    }
    & #time {
        width: auto;
        padding: 0 1rem;
    }
    & #venue {
        width: auto;
    }
    & .form-button {
        top: 0;
        width: auto;
        height: 3rem;
        background: #EEEEEE;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
    & .form-button:hover:active {
        background: #00A755;
        color: #FFFFFF;
        transform: scale(1);
    }
}

#profile-form {
    background: rgb(39, 39, 39);
    padding-bottom: 5rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2rem;
    position: relative;
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.6);
    border-radius: 7px;

    & input {
        padding-top: 0.5rem;
    }
    & .form-button {
        width: auto;
        padding: 0 1rem;
    }
    & .edit {
        display: flex;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        background: none;
        border: none;

        & img {
            width: 2rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
    & .focused {
        filter: invert(1);
    }

}