h2 {
    color: #EEEEEE
}

h4 {
    font-size: 5rem;
    color: #FFFFFF
}

h5 {
    font-size: 1.5rem;
    color: #DDDDDD;
    max-width: 45%;
}

.content-banner {
    position: relative;
    top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 35rem;
    max-width: 200rem;
    min-width: 60rem;

    & div img {
        width: 30rem
    }
}