.table-header{
    display: flex;
    background: #00A755;
    width: 110rem;
    position: relative;
    top: 2rem;
    height: 5rem;
    justify-content:  center;

    & button {
        background: none;
        border: none;
        text-align: left;
        font-size: clamp(10px, 1.5rem, 5rem);
        color: #ffffff;
        cursor: pointer;
        width: 100%;
        transition: transform 0s;

        &.selected {
            background: #272727;
            color: #FFFFFF;
            transform: scale(1.05);
            box-shadow: 0 0 10px black;
            transition: transform 0.15s, box-shadow 0.15s;
            /*border-top: 5px #EEEEEE solid;*/
            /*border-bottom: 5px #EEEEEE solid;*/

        }
        & span {
            display: block;
            text-align: center;
            width: 100%;
        }
    }
}

.table {
    position: relative;
    top: 2rem;
    width: 110rem;
    font-size: 1.5rem;

    & tr {
        text-align: center;
        background: #EEEEEE;
    }

    & .header-row th {
        font-size: 1.5em;
        text-align: center;
        background: #00A755;
        color: #FFFFFF;
        position: sticky;
        top: 5rem;
        cursor: pointer;
        user-select: none;

        &:hover {
            background: #008522;
        }
    }

    & tbody tr.alternate td {
        background: #999999;
        color: #FFFFFF;
    }
}

@keyframes loadingGradient {
    0%   { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}

.loading td {
    animation: loadingGradient 1s infinite ease-in-out;
    background: linear-gradient(90deg, #dddddd 0%, #555555 50%, #dddddd 100%);
    background-size: 200%;
}

@media (max-width: 1300px) {
    header h1 {
        transform: scale(0.8);
    }
}

@media (max-width: 900px){
    header h1{
        font-size: 4rem;
        & span {
            background: none;
            clip-path: none;
        }
        &::before, &::after{
            display: none;
        }
    }
    header #header-profile {
        transform: scale(0.9);
    }
    header .logo {
        transform: scale(0.9);
    }
}

@media (max-width: 650px){
    header h1{
        font-size: 2.6rem;
    }
}

@media (max-width: 500px){
    header h1 {
        font-size: 1rem;
    }
}