:root:has(.no-doc-scroll) {
    overflow: hidden;
}

.fixture-header{
    position: relative;
    top: 2rem;
    background: #00A755;
    max-width: 130rem;
    width: 80%;
    height: 5rem;
    min-width: 60rem;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    & h4{
        font-size: 3rem;
        color: #FFFFFF;
        text-align: center;
    }

    & #team-select{
        height: 80%;
        border-radius: 7px;
        border: none;
        text-align: center;
        color: #FFFFFF;
        font-size: 2rem;
        left: 1rem;
        position: relative;
        -webkit-appearance: none;
        background: #272727 url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="white"/></svg>') no-repeat right 10px center;
        box-shadow: 0 0 10px rgba(10,10,10,.4);
    }

    & #league-select {
        height: 80%;
        border-radius: 7px;
        border: none;
        text-align: center;
        color: #FFFFFF;
        font-size: 2rem;
        right: 1rem;
        position: relative;
        -webkit-appearance: none;
        background: #272727 url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="white"/></svg>') no-repeat right 10px center;
        box-shadow: 0 0 10px rgba(10,10,10,.4);
    }
}

.fixture-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #EEEEEE;
    font-size: 2rem;
    width: 80%;
    max-width: 130rem;
    min-width: 60rem;
    top: 2rem;
    position: relative;
    max-height: 50rem;

}

.fixture-info {
    background: #00A755;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    border-radius: 7px 7px 0 0;
    align-items: center;
    gap: 3rem;
    & .league {
        position: absolute;
        left: 2rem;
        top: 0;
    }
}

.fixture {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1rem 0;
    background: #272727;
    width: 100%;
    border-radius: 0 0 7px 7px;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    & .middle {
        margin: 0 4rem;
    }

    & img {
        height: 2em;
    }
    & .team1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        justify-self: flex-end;
    }
    & .team2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}


.fixture-line {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
}

.fixture-wrapper{
    @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.6s, opacity 0.6s;
    }
    opacity: 0;
    transform: translateY(-20px);
}

.fixture-wrapper.show {
    opacity: 1;
    transform: translateY(0);
}

.fixture-wrapper.result {
    & .fixture-info {
        /*background: #EEEEEE;*/
        /*color: #00A755;*/
    }

    & .fixture {
        background: #EEEEEE;
        color: #272727;
    }
}

.fixture-wrapper:hover {
    @media (prefers-reduced-motion: no-preference) {
        transform: Scale(1.03);
    }
}

.blur {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: none;
    opacity: 1;
}

.score-enter-wrapper{
    position: fixed;
    display: none;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 20rem;
    z-index: 3;
    filter: drop-shadow(5px 5px 20px);
    opacity: 1;

    &::before {
        background: #00A755;
        position: fixed;
        content: '';
        width: 25rem;
        height: 20rem;
        right: -5rem;
        top: 55%;
        transform: translateY(-55%);
        clip-path: polygon(21rem 0%, calc(100% - 2rem) 0%, calc(100% - 9rem) 100%, calc(100% - 11rem) 100%);
    }

    &::after {
        background: #00A755;
        position: fixed;
        content: '';
        width: 25rem;
        height: 20rem;
        left: -17rem;
        top: 55%;
        transform: translateY(-55%);
        clip-path: polygon(21rem 0%, calc(100% - 2rem) 0%, calc(100% - 9rem) 100%, calc(100% - 11rem) 100%);
    }
}

.score-enter {
    position: relative;
    background: #272727;
    width: 50rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    clip-path: polygon(7rem 0%, 100% 0%, calc(100% - 7rem) 100%, 0% 100%);


    & h1 {
        color: #FFFFFF;
        justify-items: start;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    & .input-wrapper {
        display: grid;
        gap: 2rem;
        justify-content: center;
        grid-template-columns: 1fr 1fr;

    }

    & .score-input {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & label {
            color: #FFFFFF;
            font-size: 1.8rem;
        }
    }

    & input {
        height: 4rem;
        width: 10rem;
        position: relative;
        text-align: center;
        font-size: 2rem;
    }

    & input[type=number] {
        appearance: textfield;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }

    & label {

    }

    & #submit{
        height: 3rem;
        width: 15rem;
        margin-top: 2rem;
        font-size: 2rem;
        background: #EEEEEE;
        border: none;
        cursor: pointer;
    }

    & #exit {
        position: absolute;
        right: 2rem;
        top: 0.5rem;
        background: none;
        border: none;
        color: #FFFFFF;
        font-size: 2.5rem;
        width: 2rem;
        cursor: pointer;
    }
}