.fixture-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #EEEEEE;
    font-size: 2rem;
    width: 80%;
    max-width: 130rem;
    min-width: 60rem;
    top: 2rem;
    position: relative;
}

.fixture-info {
    background: #00A755;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    border-radius: 7px 7px 0 0;
    align-items: center;
    gap: 3rem;
}

.fixture {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1rem 0;
    background: #272727;
    width: 100%;
    border-radius: 0 0 7px 7px;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    & .middle {
        margin: 0 4rem;
    }

    & img {
        height: 2em;
    }
    & .team1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        justify-self: flex-end;
    }
    & .team2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}


.fixture-line {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
}

.fixture-wrapper{
    @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.6s, opacity 0.6s;
    }
    opacity: 0;
    transform: translateY(-20px);
}

.fixture-wrapper.show {
    opacity: 1;
    transform: translateY(0);
}

.fixture-wrapper:hover {
    @media (prefers-reduced-motion: no-preference) {
        transform: Scale(1.03);
    }
}