@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximanova_regular.ttf") format('truetype');
}

:root:has(.no-doc-scroll) {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(39, 39, 39)
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barlow-condensed {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    /*background: rgb(39,39,39);*/
    box-sizing: content-box;
    border-bottom: 1rem #eeeeee double;
    background-image: url("image.png");
    background-repeat: repeat;
    background-size: auto;
}

header .logo {
    margin-left: 1.5em;
    height: 75%;
    align-self: center;
}

header .logo:hover {
    cursor: pointer;
}

header h1 {
    font-size: 5.6rem;
    color: #EEEEEE;
    position: relative;
    top: -5px;
    display: inline-block;
    overflow: visible;
}

header h1 span {
    /*background: #00A755;*/
    /*background-image: url('green_noise.png');*/
    background-image: url('green_noise_v2.png');
    padding: 0 7rem;
    clip-path: polygon(5rem 0%, 100% 0%, calc(100% - 5rem) 100%, 0% 100%);
}

header h1::before {
    content: '';
    position: absolute;
    left: -2rem;
    width: 6rem;
    height: 100%;
    background: white;
    z-index: 1;
    clip-path: polygon(5rem 0, 100% 0%, calc(100% - 5rem) 100%, 0 100%);
    /* Optional: slight slant to match design */
}

header h1::after {
    content: '';
    position: absolute;
    right: -2rem;
    width: 6rem;
    height: 100%;
    background: white;
    z-index: 1;
    clip-path: polygon(5rem 0, 100% 0%, calc(100% - 5rem) 100%, 0 100%);
    /* Optional: slight slant to match design */
}

header #header-profile {
    position: relative;
    justify-self: end;
    right: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header #header-profile h4 {
    color: #FFFFFF;
    font-size: 1.3rem;
}

header #profile-picture {
    width: 5rem;
    border-radius: 20px;
    border: 2px #EEEEEE solid;
}

header #header-profile #profile-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    clip-path: polygon(2.23rem 0, 100% 0, 100% 100%, 0% 100%);
    padding-left: 3rem;
    padding-right: 1.5rem;
    align-items: center;
    bottom: -7rem;
    z-index: 2;
    background: #eeeeee;
    width: auto;
    gap: 2rem;
    height: 3rem;

    & a {
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        transition: color 0.2s;

        &:hover {
            color: #00A755;
        }
    }
}


#img {
    position: relative;
    flex: 1 0 auto;
    min-height: calc(100vh + 0.8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    padding-top: 1em;

    &::before {
        position: absolute;
        inset: 0;
        content: '';
        background: url("https://devonrfu.co.uk/wp-content/uploads/2022/06/drfu-homeslide.jpg") 100%;
        background-size: cover;
        height: 57rem;
        z-index: -1;
    }

}

nav {
    top: 0;
    position: sticky;
    background: #00A75566;
    margin-top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px) brightness(3);
    box-shadow: #00A75544 0 30px 60px;
    z-index: 1;
}

@keyframes showTopBorder {
    from {border-top: 0 solid #272727;}
    to {border-top: 0.4rem solid #272727;}
}

/*nav.stuck {*/
/*    & ul li:not(.selected) a span{*/
/*        animation: showTopBorder 0.15s;*/
/*        border-top: 0.4rem solid #272727;*/
/*    }*/
/*}*/

.spacer {
    width: 100%;
    display: block;
    background: white;
}

nav ul {
    width: 100%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
    overflow-x: hidden;
}

nav ul li {
    @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.2s;
    }
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*min-width: 22rem;*/
}

nav ul li a{
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 7rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 2.5rem;
    position: relative;
    color: rgb(29,29,29);

    &:hover {
        &::before, &::after{
            background: #00A755;
        }
        & span {
            border-bottom: 0.4rem solid #00A755;
            border-top: 0.4rem solid #00A755;
            color: #00A755;
        }
    }
}

nav ul li a span {
    height: 100%;
    width: 100%;
    min-width: 7rem;
    clip-path: polygon(5rem 0%, 100% 0%, calc(100% - 5rem) 100%, 0% 100%);
    background: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.4rem solid #272727;
    border-top: 0.4rem solid #272727;
}

nav ul li a::before {
    content: '';
    position: absolute;
    left: -0.1rem;
    width: 6rem;
    height: 100%;
    background: #272727;
    z-index: 1;
    --clip-width: 5.5rem;
    clip-path: polygon(5rem 0, var(--clip-width) 0%, calc(100% - var(--clip-width)) 100%, 0 100%);
}

nav ul li a::after {
    content: '';
    position: absolute;
    right: -0.1rem;
    width: 6rem;
    height: 100%;
    background: #272727;
    z-index: 1;
    --clip-width: 5.5rem;
    clip-path: polygon(var(--clip-width) 0, 100% 0%, calc(100% - 5rem) 100%, 0 var(--clip-width));
}

@media (max-width: 1400px) {
    nav ul li a {
        font-size: 2rem;
        & span {
            clip-path: none;

        }

        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
}

@media (max-width: 1000px) {
    #header-profile h4 {
        display: none;
    }
}

nav ul li:hover a::before {
    opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
    nav ul li:hover:active {
        /*transform: scale(1.15);*/
        a {
        color: #EEEEEE;

        & span {
            background: black;
            border-bottom: 0.4rem solid #00A755;
            border-top: 0.4rem solid #00A755;
        }
         &::before, &::after {
             background: #00A755;
         }
    }
    }
}

/* Style for the currently selected navbar page button */
nav ul li.selected {

    cursor: pointer;
     a {
        color: #EEEEEE;
         pointer-events: none;
        & span {
            background: black;
            border-bottom: 0.4rem solid #00A755;
            border-top: 0.4rem solid #00A755;
        }
         &::before, &::after {
             background: #00A755;
         }
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 7px;
    height: 60%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: rgb(29, 29, 29)
}

.flashbox {
            background: rgba(89, 145, 229, 1);
            border-radius: 7px;
            margin-bottom: -0.5rem;
            margin-top: 1rem;
            padding: 1em;
            text-align: center;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
        }

        .flashbox.error {
            background: rgb(255, 98, 87);
        }

        .flashbox a{
            text-decoration: none;
            color: #4444FF
        }

        .flashbox a:visited {
            color: #9000ff
        }

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .flashbox {
        grid-column: 1;
    }
}

.blur {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: none;
    opacity: 1;
}

footer {
    top: calc(100%);
    position: relative;
    width: 100%;
    height: 15rem;
    border-top: 2px solid black;
    background: #272727 url('tex-dark.jpg');
    box-shadow: 0 -5px 5px rgba(125,125,125,.5);

    & .footer-content {
        display: grid;
        grid-template-columns: 1fr 0.7fr 1fr;
        align-content: center;
        justify-content: center;
        height: 100%;
        width: 70%;
        margin: 0 auto;
        /*background: rgba(255,0,0,.5);*/

        & img {
            justify-self: center;
        }

        & .footer-links {
            justify-self: center;
            display: flex;
            flex-direction: row;
            width: 80%;
            gap: 10rem;
            position: relative;
            top: -1.5rem;
            justify-content: left;

            &.ul-left {
              justify-content: right;
            }

            &.ul-left .footer-link ul li {
                align-self: end;
                &::after {
                    content: '<';
                    position: absolute;
                    right: -20px;
                    font-size: 1.5rem;
                    color: #00A755;
                    font-weight: 700
                    }
                &::before {
                    content: ''
                }
            }

            & .footer-link {
                display: flex;
                flex-direction: column;

                & h4 {
                    font-size: 3rem;
                    border-bottom: 1px solid #EEEEEE;
                    padding: 0 1rem;
                    margin-bottom: 10px;
                    color: #EEEEEE;
                }

                & ul {
                    position: relative;
                    top: 0.5rem;
                    list-style-position:outside;
                    /*list-style-type: symbols(cyclic '>');*/
                    list-style-type: none;
                    color: #FFFFFF;
                    display: flex;
                    flex-direction: column;

                    & li {
                        margin-bottom: 10px;
                        font-weight: 700;
                        line-height: 1.5rem;
                        display: flex;
                        font-size: 1.1rem;
                        align-self: start;

                        &::before {
                            content: '>';
                            position: absolute;
                            left: -20px;
                            font-size: 1.5rem;
                            color: #00A755;
                            font-weight: 700
                        }
                    }
                }
            }
        }
    }
}