@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximanova_regular.ttf") format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    flex-direction: column;
    height: 200vh;
    background: rgb(39, 39, 39)
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barlow-condensed {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: rgb(39,39,39);
}

header .logo {
    margin-left: 1.5em;
    height: 75%;
    align-self: center;
}

header .logo:hover {
    cursor: pointer;
}

header h1 {
    font-size: 5.6rem;
    color: #EEEEEE;
    position: relative;
    top: -5px;
    display: inline-block;
    overflow: visible;
}

header h1 span {
    background: #00A755;
    padding: 0 7rem;
    clip-path: polygon(5rem 0%, 100% 0%, calc(100% - 5rem) 100%, 0% 100%);
}

header h1::before {
    content: '';
    position: absolute;
    left: -2rem;
    width: 6rem;
    height: 100%;
    background: white;
    z-index: 1;
    clip-path: polygon(5rem 0, 100% 0%, calc(100% - 5rem) 100%, 0 100%);
    /* Optional: slight slant to match design */
}

header h1::after {
    content: '';
    position: absolute;
    right: -2rem;
    width: 6rem;
    height: 100%;
    background: white;
    z-index: 1;
    clip-path: polygon(5rem 0, 100% 0%, calc(100% - 5rem) 100%, 0 100%);
    /* Optional: slight slant to match design */
}

header #header-profile {
    position: relative;
    justify-self: end;
    right: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header #header-profile h4 {
    color: #FFFFFF;
    font-size: 1.3rem;
}

header #profile-picture {
    width: 5rem;
    border-radius: 20px;
    border: 2px #EEEEEE solid;
}


#img {
    background: url("https://devonrfu.co.uk/wp-content/uploads/2022/06/drfu-homeslide.jpg") 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-size: cover;
    padding-top: 1em;
}

nav {
    top: 0;
    position: sticky;
    background: #00A75566;
    margin-top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px) brightness(3);
    box-shadow: #00A75544 0 30px 60px;
    z-index: 1;
}

.spacer {
    width: 100%;
    display: block;
    background: white;
}

nav ul {
    width: 100%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
}

nav ul li {
    @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.2s;
    }
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /*filter: invert(1);*/
}

nav ul li a{
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 7rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 2.5rem;
    position: relative;
    color: #FFFFFF;

    &:hover {
        &::before, &::after{
            background: #00A755;
        }

    }
}

nav ul li a span {
    height: 100%;
    width: 100%;
    min-width: 7rem;
    clip-path: polygon(5rem 0%, 100% 0%, calc(100% - 5rem) 100%, 0% 100%);
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a::before {
    content: '';
    position: absolute;
    left: -0.1rem;
    width: 6rem;
    height: 100%;
    background: white;
    z-index: 1;
    clip-path: polygon(5rem 0, 100% 0%, calc(100% - 5rem) 100%, 0 100%);
    /* Optional: slight slant to match design */
}

nav ul li a::after {
    content: '';
    position: absolute;
    right: -0.1rem;
    width: 6rem;
    height: 100%;
    background: white;
    z-index: 1;
    clip-path: polygon(5rem 0, 100% 0%, calc(100% - 5rem) 100%, 0 100%);
    /* Optional: slight slant to match design */
}
/* Animate the navbar buttons, respect reduced motion by only changing tab colour and cursor*/

/*nav ul li:hover{*/
/*    cursor: pointer;*/
/*    @media (prefers-reduced-motion: no-preference) {*/
/*        transform: translateY(-0.2rem);*/
/*        & a {*/
/*            box-shadow: 5px calc(5px + 0.2rem) 15px rgba(10, 10, 10, 0.2);*/
/*        }*/
/*    }*/
/*}*/

nav ul li:hover a::before {
    opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
    nav ul li:hover:active {
        transform: scale(1.15);
    }
}

/* Style for the currently selected navbar page button */
nav ul li.selected {
    transform: scale(1.15);

    & a {
        background: #000000;
        color: rgb(255, 255, 255);
        pointer-events: none;
    }
    & a::before {
       background: #EEEEEE;
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 7px;
    height: 60%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: rgb(29, 29, 29)
}

.flashbox {
            background: rgba(89, 145, 229, 1);
            border-radius: 7px;
            margin-bottom: -0.5rem;
            margin-top: 1rem;
            padding: 1em;
            text-align: center;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
        }

        .flashbox.error {
            background: rgb(255, 98, 87);
        }

        .flashbox a{
            text-decoration: none;
            color: #4444FF
        }

        .flashbox a:visited {
            color: #9000ff
        }