body{
    font-family: Roboto, sans-serif;
    background: blue;
    margin: 0;
    cursor: url(https://www.rw-designer.com/cursor-extern.php?id=149913), auto
}

@keyframes beauty{
    to {background-position: -100%}

}

nav {
    background: linear-gradient(90deg,#9f5208, #fd30fe 50%, #1dd420 100%) 100%/200%;
    height: 5em;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 50em 1fr;
    animation: beauty 3s linear infinite;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: yellow;
}

nav li {
    background: grey;
    border-radius: 5px;
    padding: 10px 30px;
    box-sizing: border-box;
    user-select: none;
    cursor: url(https://www.rw-designer.com/cursor-extern.php?id=173412), auto;
}

nav.left {
    background: green;
}

nav.right {
    background: red;
}

.stupid {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.photoframe{
    position: absolute;
    z-index: 1;
    width: 44em;
    height: 80em;
}

video {
    border-radius: 100em;
    position: relative;
    top: 19em;
}

#video-top {
    position: absolute;
    background: transparent;
    top: 19em;
    width: 29em;
    height: 51em;
    border-radius: 100%;
    z-index: 2;
}

#music.active {
    background: green;
}

.squish {
    transition: transform 0.2s;
}

.squish.active{
    background: green;
    transform: scale(1.1)
}

.pointer {
    cursor: url(https://www.rw-designer.com/cursor-extern.php?id=173412), auto;
}