<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/gibjohn_logo.png">
        <title>Gibjohn Tutoring</title>
        <style>
        {%block style %}
        {%endblock%}
        </style>
    </head>
    <body>
        <div id='top'>
            <div id="header">
                <img id='logo' src="../static/gibjohn_logo.png" onmouseover="tro()" onmouseleave="untro()">
                <p id="title">{%block title%}{%endblock%}</p>
                {% if not current_user.is_authenticated %}
                <div class="accountbox">
                <a class="account" href="{{ url_for('auth.login') }}"><img class="account" src="../static/blank_profile.png" title="Log In"></a>
                </div>
                    {%endif%}
                {% if current_user.is_authenticated %}
                <div class="accountbox">
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 1em;">
                        <p style="font-size: 1.2em">Welcome,
                            {% if current_user.accessLevel >0 %}
                            <span id="access_name">{{ current_user.access_name }} </span>
                            {% endif %}
                            <span style="color: rgba(89, 145, 229, 1); font-weight: bold;">{{ current_user.name }}</span>!</p>
                        <a class="account"><img class="account" src="{{ url_for('uploaded_file', filename=current_user.picture)}}" title="Profile Options"></a>
                    </div>
                <div id="accountdropdown">
                    <div id="accountdropcontainer">
                        <a href="{{url_for('main.profile')}}">Profile</a>
                        {% if current_user.accessLevel >= 1 %}
                        <a href="{{url_for('main.admin')}}">Admin</a>
                        {%endif%}
                        <a href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                </div>
                </div>
                {%endif%}
            </div>

            <div id="navbar">
                <a href="{{url_for('main.index') }}">Home</a>
                <a href="{{url_for('sub.our_tutors') }}">Our tutors</a>
                <a href="{{url_for('sub.young_learners') }}">Young Learners</a>
                <a href="{{url_for('sub.adult_learners') }}">Adult Learners</a>
                <a href="{{url_for('sub.help') }}">Help</a>
                <a href="{{url_for('sub.contact_us') }}">Contact Us</a>
            </div>
        </div>
        <div id="topspacer"></div>

        {% block content %}
        {% endblock %}

    </body>
    <script>
        let account = document.querySelector('.account')
        let dropdown = document.getElementById('accountdropdown')
        let hisarrival

        account.addEventListener('click', () => {
            dropdown.classList.toggle('visible')
        })

        function tro() {
            hisarrival = setTimeout(()=>{
                document.getElementById('logo').src = 'static/trollface_shatter.gif'
            }, 2000)


        }

        function untro() {
            document.getElementById('logo').src = 'static/gibjohn_logo.png'
            clearTimeout(hisarrival)
        }
    </script>

</html>