{% extends 'base.html' %}

{% block title %}
<span style="color: rgb(200, 200, 200)">Sign</span> <span style="color: rgb(137, 218, 250)">Up</span>
{% endblock %}

{% block style %}
#signup {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#form-title {
    font-size: 2em;
    text-align: center;
    background: white;
    border-radius: 5px;
    width: 10em;
    filter: drop-shadow(0 0 10px grey);
    height: 1.5em;
    line-height: 1.5em;
    border: 0.5px grey solid;
    margin: 1em 0 0.5em 0;
}

form {
    background: white;
    border: 1px grey solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    height: 20em;
    width: 35em;
    filter: drop-shadow(0 0 10px grey);
    padding: 20px;
}

form input.text {
    height: 3rem;
    width: 30rem;
    font-size: 1.5em;
    border: 1px rgba(10,10,10, .1) solid;
    border-radius: 5px;
    box-shadow: inset 0 2px 3px rgba(10, 10, 10, .1);
    background: rgba(100, 100, 100, .1)
}

.check {
    color: black;
    font-size: 1.3em;
}

.check input {
    transform: scale(2);
    margin: 0.7em;
}

#signbutton {
    background: rgba(89, 145, 229, 1);
    border:0;
    width: 20rem;
    border: 1px solid rgba(10, 10, 10, .1);
    border-radius: 5px;
}

#signbutton:hover:active {
    background: rgba(49, 105, 189, 1);
}

#signbutton span {
    font-family: "Courier New";
    text-decoration: None;
    color: white;
    font-size: 2em;
}

{% endblock %}



{% block content %}
<div id="signup">
    <p id="form-title">Sign Up</p>
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <div class="flashbox {{ category }}">
                {{message.text}}
                {% if message.link %}
                    Go to <a href="{{message.link}}">{{ message.linktext }}</a>.
                {%endif%}
            </div>
        {%endfor%}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <input class="text" type="email" name="email" placeholder="Email" autofocus="">
            </div>

            <div class="field">
                <input class="text" type="text" name="name" placeholder="Name" autofocus="">
            </div>

            <div class="field">
                <input class="text" type="password" name="password" placeholder="Password">
            </div>

            <button id="signbutton"><span>Sign Up</span></button>
        </form>
    </div>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
</div>
{% endblock %}