      body {
        min-height: 100vh;
        font-family: 'Arial', sans-serif;
        background: linear-gradient(135deg, #89DAFA 0%, #005F9E 100%);
        background-attachment: fixed;
        margin: 0;
      }

      #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
      }

      button {
        height: 6em;
        width:18em;
        }

      button:hover {
      cursor: pointer;
      }

      #titlecontainer {
          position: relative;
          text-align: center;
          font-size: 5vh;
          height: 10%;
          width: 80%;
          margin: auto;
          line-height: 10%;
          border-left: #545454 2px solid;
          border-top: #545454 2px solid;
          border-bottom: #000000 2px solid;
          border-right: #000000 2px solid;
          margin-bottom: 1em;
      }

      #top {
        position: fixed;
        /*filter: drop-shadow(0 0 1em grey);*/
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        width: 100%;
        z-index: 1;
      }

      #topspacer {
         height: 10rem;
      }

      #header {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr auto 1fr;
            grid-template-rows: 8em;
            background: white;
            color: black;
            margin: 0;
            border-bottom: 2px rgba(50, 50, 50, 0.6) solid;
      }

      #header #logo {
        width: 6em;
        margin-left: 3em;
        justify-self: start;
        filter: drop-shadow(0 0 3px black)

      }

      #header #title {
        font-size: 3.5em;
        font-weight: bold;
        justify-self: center;
        height: 1em;
      }

      .accountbox {
        justify-self: end;
        margin-right: 3em;
        positon: relative;
      }

      img.account {
        width: 4em;
        border-radius: 3em;
      }

      #accountdropdown {
        position: absolute;
        width:8em;
        max-height: 0;
        transition: max-height 0.8s, opacity 0.2s 0.6s;
        background: #FFFFFF;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        border-radius: 5px;
        transform: translateX(80%);
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        border: 1px rgba(10,10,10, .1) solid;
      }

      #accountdropdown.visible {
        opacity: 1;
        max-height: 10em;
        pointer-events: auto;
        transition: max-height 0.8s;
        overflow: hidden;
      }

      #accountdropcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.8em 0;
        gap: 2.5em;
      }

      #accountdropdown a {
        text-align: center;
        text-decoration: None;
        color: white;
        background: rgba(89, 145, 229, 1);
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        padding: 5px;
        border-radius: 5px;
        width: 80%;
        height: auto;
        border: 1px rgba(10,10,10, .1) solid;
      }

      #accountdropdown a:hover {
        background: white;
        transition: background 0.3s;
        font-weight: Bold;
        cursor: pointer;
        color: black;
      }

      #header .account:hover {
        cursor: pointer;
      }

      #navbar {
            display: flex;
            background: rgba(79, 135, 219, 1);
            border: rgba(79, 135, 219, 1) 5px solid;
            justify-content: space-around;
            align-content: left;
            gap: 5px;
        }

        #navbar a {
            background: rgba(89, 145, 229, 1);
            font-family: "Courier New";
            text-decoration: None;
            color: white;
            padding: 10px;
            flex: 1;
            text-align: center;
            transition: background 0.3s, font-weight 0.3s;
            border-radius: 4px;
        }

        #navbar a:hover {
            background: white;
            transition: background 0.3s, font-weight 0.3s;
            font-weight: Bold;
            cursor: pointer;
            color: black;
            }

        .flashbox {
            background: rgba(89, 145, 229, 1);
            border-radius: 7px;
            margin-bottom: 1em;
            padding: 1em;
            text-align: center;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
        }

        .flashbox.error {
            background: rgb(255, 98, 87);
        }

        .flashbox a{
            text-decoration: none;
            color: #4444FF
        }

        .flashbox a:visited {
            color: #9000ff
        }